@charset "UTF-8";
body {
  width: 1280px;
  background-color: white;
  margin: 0 auto;
  box-sizing: border-box;
  font-size: 15px;
  color: #222831;
  background-image: url("../img/deil.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom; /* 오른쪽 아래 모서리로 배경 이미지 이동 */
  background-size: 80%;
}

   form {
  		margin-top: 95px;
    	margin-left: auto;
    	margin-right: auto;
    	width: 50%; /* 원하는 너비 설정 */
    }


    .center-text {
        text-align: center;
    }

    .form-group {
        margin-bottom: 15px;
    }

    #sample6_postcode {
        width: 70%;
    }

    #sample6_address {
        width: 70%;
    }

    #sample6_detailAddress {
        width: 35%;
    }

    #sample6_extraAddress {
        width: 34%;
    }

    .btn {
        margin-right: 10px;
    }
    
    .container {
	height: 70vh;
}