@charset "UTF-8";

body {
  width:1280px;
  background-color: white;
  margin: 0 auto;
  box-sizing: border-box;

   font-size: 15px;
   color: #222831

}
h1 {
      font-family: 'BMHANNAPro', fantasy;
      padding-bottom: 10px;	
}

input {
	float: right; 
	background-color: #00fff5; 
	color: #000;
}

.input_select_wrap2 {
	 padding-bottom: 20px;	
}

.faq-title{
	cursor: pointer; 
	color: #222831;
	font-style: italic;
	font-weight: bold;
	
}

.faq-content {
	display: none;
	font-size: 13px;
	color: #393E46;
}