@charset "UTF-8";


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#header {
  height: 100px; /* 헤더 높이를 116px로 고정 */
  background-color:papayawhip; /* 헤더 배경색을 원하는 색상으로 설정 */
  color:black; /* 헤더 텍스트 색상을 원하는 색상으로 설정 */
}

#footer {
  height: 100px; /* 푸터 높이를 116px로 고정 */
  background-color:papayawhip; /* 푸터 배경색을 원하는 색상으로 설정 */
  color: #fff; /* 푸터 텍스트 색상을 원하는 색상으로 설정 */
}

/* #content { */
/*   min-height: 368px; 헤더와 푸터 높이를 고려한 콘텐츠 높이 설정 (600 - 116 - 116) */
/*   max-width: 1280px; */
/*   margin: 0 auto; */
/*   background-color: papayawhip; 콘텐츠 배경색을 원하는 색상으로 설정 */
/* } */