@charset "UTF-8";

.mainTitle{

	text-align: center; 
	font-size: 60px; 
	color: white;
  font-family: 'BMHANNAPro', fantasy;

}

a.a{
	text-decoration: none;
	color: #222831;
}


span{
	font-size: 12px; color:#222831;
}



#header {
  color:#222831; /* 헤더 텍스트 색상을 원하는 색상으로 설정 */
}


.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.flex-container > div {
  width: 400px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  text-align: right;
}

li,.btn{
	font-family: 'BMHANNAAir', fantasy;
   font-size: 20px;
}



